body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em; 
    font-size: 14px;
    line-height: 1.5;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.page-hidden {
    display: none;
}