.hero {
    /* background-color: var(--background-color-darkfone); */
    padding-top: 118px;
    padding-bottom: 118px;

        @media screen and (min-width:1200px) {
            padding-top: 200px;
            padding-bottom: 200px;
        }

    &__title {
        text-align: center;
        box-sizing: border-box;
        color: var(--primary-white-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.06em;
        font-family: inherit;
    
        display: block;
        margin: 0;
        padding: 0;
        padding-bottom: 30px;

            @media screen and (min-width:1200px) {
                font-size: 44px;
                line-height: 1.4;
            }
        }
    
    &__overlay {
        
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: var(--color-black);
        min-height: 400px;

            @media screen and (max-width: 1199px) {
                
            }

            @media screen and (min-width:1200px) {
                min-height: 600px;
                /* outline: 1px solid black; */
                background-image: var(--linear-gradient-hero),
                url(..//images/bgr-hero.jpg);
                
            }
    }
}

.container__hero-title {
    box-sizing: border-box;
    text-align: center;
}